
<div id = "buttoncont">

	<button class = "btn  btn-large" id = "Stuff">
		<a target="_blank" href= "http://auctioner-snake-35102.bitballoon.com">My other Stuff</a>
	</button>

</div>
<div id = "randomwrapper">
	<h4 id = "pollock"> POLLOCKSBOLLOCKS </h4>
	<h6><em> (Allez Les Fauves!)</em></h6>

</div>
<div class = "img-responsive" id = "canvas-wrapper">
    <canvas id = "myCanvas" onclick= "stopDraw()">	    
	</canvas>
</div>
<div id = "socket">
	<div id= "btncont">
		<button class= "btn btn-small" onclick = "startDraw()"> Start </button>
		<button class= "btn btn-small" onclick = "stopDraw()"> Halt </button>
		<button class= "btn btn-small" onclick = "carryOn()"> Continue </button>
		<button class= "btn btn-small" onclick = "clearThis()"> Clear </button>
	</div>
</div>
	<div id="colorpicker">
		<div class="sliders" id="red"></div>
		<div class="sliders" id="green"></div>
		<div class="sliders" id="blue"></div>

		<div class="result"></div>
	</div>














