
<div id = "buttoncont">

	<button class = "btn  btn-large" id = "Stuff">
		<a target="_blank" href= "http://auctioner-snake-35102.bitballoon.com">My other Stuff</a>
	</button>

</div>
<div id = "randomwrapper">

</div>
<div class = "img-responsive" id = "canvas-wrapper">
    <canvas id = "myCanvas" onclick= "stopDraw()">	    
	</canvas>
</div>
<div id = "socket">
	<button onclick = "startDraw()"> Start </button>
	<button onclick = "stopDraw()"> Halt </button>
	<button onclick = "carryOn()"> Carry On </button>
	<button onclick = "startDraw()"> More of This! </button>
	<button onclick = "clearThis()"> Clear </button>
</div>













