



        <%= link_to products_path , id:"linktag" do %>
          
          <div id="magic" class = "embed-responsive embed-responsive-3by2">
            

            <p id="schnecke">"THE place for a new bike!"</p>

            <p id="schnecke1">"THE place for a new bike!"</p>
            
            <img id= "pic1" class = "img-responsive" src = "https://static01.nyt.com/images/2010/09/30/fashion/BIKE-4/BIKE-JP-C-jumbo.jpg">
            <img id= "pic2" class = "img-responsive" src = "http://assets.vogue.com/photos/5877615edc6ee2b90df0b6b8/master/pass/copenhagen-bike-fashion-week-street-style-06.jpg">
            <img id= "pic3" class = "img-responsive" src = "http://www.lion-hunter.com/wp-content/uploads/2015/07/cycle-chic-bike-style-bike-street-style-10.jpg">
                  
          </div>
          
        <%end%>




