
<div id = "repairdiv">
 <h2 id = "tirefix">Yes, we fix flat tires!</h2>
 <!--img id= "repairpic" class = "img-responsive" src = "https://www.kristimountainsports.com/images/photos/IMG_0230.JPG"-->
</div>
<div id = "test"></div>