<table  style="background-color:#e7f8f0;padding:5px;width:600px;">
  <tbody>
    <tr style=" ">
    	
      <td style="padding:20px;"><p style=" background-color:#bb0000;color:white;padding:20px;"> a new message from <%= @name%>, <%= @email%></p></td>
    </tr>
    <tr  style="">
      <td ><p style="padding:20px;text-indent:10px;"><%= @message %></p></td>
    </tr>
  </tbody>
</table>