<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
	<h3>  Welcome to zweiradeins</h3>
	===============================================
	 

	<p>Hello <%=@user.username.capitalize%>, thank you for registering with us!</p>

	<p>So many bargains to be found here!</p>
	<p>Have a nice day!</p>
	<p>Your zweiradeins-team</p>

  </body>
</html>















