
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
<h3>  Welcome to zweiradeins, <%= @user.username %></h3>
===============================================
 

<p>Hello <@user.username.capitalize%>,thank you for shopping with us!</p>

<p>You made an excellent choice!
On our behalf Stripe charged your account.</p>
<p>Thank you and have a nice day!</p>


  </body>
</html>