// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


-------------------index view--------------------------------------
ahmmain{}

#ourprod{
	color:white;
	font-weight:900;
	font-style: italic;
	font-family:serif;
	letter-spacing:.25em;
	text-align:center;
	margin-top:50px;
	margin-bottom:10px;
	padding:.5em;
	text-shadow:  -5px -5px 20px red;
	background-color:#DB7B3B;
	border-bottom:1px solid lightblue;
}
#select{
	background-color:mistyrose;	
	padding:10px;
	margin-bottom:7px;
}
#select001 span{
	display:inline-block;
}
#men{
	margin-left:20px;
}
#catapply{
	border:2px ridge grey;
	border-radius:5px;
	color:white;
	background-color:darkred;
}
#select001{	
	margin:0;
	padding-left:0px;
	padding-right:0px;
	padding-top:10px;
	padding-bottom:10px;
}

#select10{

	height:32px;
	text-align:center;
	border-radius:5px;
	width:320px;
	margin:auto;
	margin-bottom:15px;
}
#select011{
	width:60px;
	height:22px;
	border:4px ridge lightgray;
	border-radius:5px;
}
#select012{
	height:22px;
	width:100px;
	border:4px ridge lightgray;
	margin-top:5px;
	margin-right:15px;
	border-radius:5px;

}


#prodindexrow{
	margin-left:-7;
	margin-right:-7;
	background-color:lightyellow;

}
#prodcont{
	padding:0;


}
#innerprodcont{
	border:4px groove lightgray;
	padding:5px;
	border-radius:5px;
	margin:2px;

}

#paginatediv{
	background-color:#85BF2E;
	margin-top:5px;
	margin-bottom:15px;
	padding-left:20px;
}
#pagecontrol a ,#pagecontrol span {
	
	color:lightyellow;
	border-radius:5px;
	font-size:1em;
	font-weight:500;
}
#pagecontrol .current{
	background-color:lightyellow;
	font-size:1em;
	font-weight:700;
	border-radius:5px;
	color:green;
	padding-left:5px;
	padding-right:5px;
	padding-top:3px;
	padding-bottom:3px;
}

---------------------------------------_product partial----------------------------------------
*{
	border: 1px solid red;
}

#proddescr,#prodcol,#prodwheelsz,#SED{
	margin-top:7px;
	margin-bottom:7px;
	margin-left:0;
	margin-right:0;
	font-size:1em;
	
}
#proddescr{
	height:4em;
	overflow-y:auto;
	background-color:white;

}

.prodpic{
	width:100%;
	height:auto;
	display:block;
	margin-bottom:10px;

}

#prodprice{
	width:75px;
	display:block;
	margin:auto;
	padding:1px;	
	font-weight:700;
	background-color:#F08011;
	text-align:center;
	color:white;
	border-radius:3px;
	
}
#prodid{
	margin:0;
	margin-left:7px;
	font-size:0.7em;
}
#SED{
	font-size:.7em;
	text-align:center;
}
#newprod{
	font-size:.7em;
	text-align:center;
	margin-bottom:5px;
}

.reviews p{
	margin:10px;
	margin-left:10px;
}
#showprodrow{
	margin-top:90px;	
	margin-left:0px;
	margin-right:0px;
}

#prodshowdescr p{
	margin:0px;
	font-style:italic;
	font-family:serif;
}

#stripebtn{
	margin-left:8px;
	margin-top:15px;
	margin-bottom:25px;
}
.prodname{
	font-size:1,7em;
	font-weight:600;
	font-family:serif;
	font-style:italic;
	text-align:center;
	margin:10px;
}
