// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//-------------------index view--------------------------------------


#ourprod{
	color:white;
	font-weight:900;
	text-align:center;
	margin-top:50px;
	margin-bottom:0;
	padding:.5em;
	text-shadow:  -5px -5px 20px darkred;
	background-color:black;
	border-bottom:1px solid lightblue;
}

//-------------filter-----------------------

#select{
	background-color:lightblue;	
	padding:10px;
	margin-bottom:7px;
}
#select001 span{
	display:inline-block;
}
#men{
	margin-left:10px;
}
#select000 label{
	font-weight:300;
}
#catapply{
	border:2px ridge grey;
	border-radius:5px;
	margin-left:25px;
	color:white;
	background-color:orange;
}
#select001{	
	margin:0;
	padding-left:0px;
	padding-right:0px;
	padding-top:10px;
	padding-bottom:10px;
}

#select10{
	height:32px;
	text-align:center;
	border-radius:5px;
	width:320px;
	margin:auto;
	margin-bottom:15px;
}
#select011{
	width:60px;
	height:22px;
	border:4px ridge lightgray;
	border-radius:5px;
	margin-bottom:10px;
}
#select012{
	height:22px;
	width:105px;
	border:4px ridge lightgray;
	margin-top:5px;
	margin-right:15px;
	margin-bottom:10px;
	border-radius:5px;
}

//------------------end filter-----------------------

//-----pagination indexpage--------------------------------------------

#paginatediv{
	background-color:#85BF2E;
	margin-top:5px;
	margin-bottom:15px;
	padding-left:20px;
}
#pagecontrol a ,#pagecontrol span {	
	color:lightyellow;
	border-radius:5px;
	font-size:1em;
	font-weight:500;
}
#pagecontrol .current{
	background-color:lightyellow;
	font-size:1.1em;
	font-weight:700;
	border-radius:5px;
	color:green;
	padding-left:5px;
	padding-right:5px;
	padding-top:3px;
	padding-bottom:3px;
}


---------------------------------------_product partial----------------------------------------
#prodindexrow{
	margin-left:-7;
	margin-right:-7;
}
#prodcont{
	padding:0;
	margin:0;	
}
#innerprodcont{
	border:.1px solid black;
	padding:5px;
	border-radius:5px;
	margin:2px;
background-color: linen; //#ff6600;
background-image: url("https://www.transparenttextures.com/patterns/clean-gray-paper.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

#proddescr,#prodcol,#prodwheelsz,#SED{
	margin-top:7px;
	margin-bottom:7px;
	margin-left:0;
	margin-right:0;
	font-size:1em;
	background-color:white;
	border-radius:5px;

}
#prodname{
	font-size:1,7em;
	font-weight:300;
	text-align:center;
	margin:10px;
	color:black;
}
#proddescr{
	height:4em;
	overflow-y:auto;
	background-color:white;
	padding:5px;
	
}
.prodpic{
	width:100%;
	height:auto;
	display:block;
	margin-bottom:10px;
}

#prodprice{
	width:75px;
	display:block;
	margin:auto;
	margin-top:5px;
	padding:1px;	
	font-weight:700;
	background-color:#F08011;
	text-align:center;
	color:white;
	border-radius:3px;	
}
#prodid{
	margin:0;
	margin-left:7px;
	font-size:0.7em;
}
//---------------show view----------------------
#SED{
	font-size:.7em;
	text-align:center;
}
#newprod{
	font-size:.7em;
	text-align:center;
	margin-bottom:5px;
}
.reviews p{
	margin:10px;
	margin-left:10px;
}
#showprodrow{
	margin-top:50px;	
	margin-left:0px;
	margin-right:0px;
	padding-top:20px;
	background-color: linen;
	background-image: url("https://www.transparenttextures.com/patterns/clean-gray-paper.png");
}

#prodshowdescr p{
	margin:10px;
	font-size:1em;
	font-weight:bold;
}
#prodshowdescr h3{
	text-align:center;
	font-weight:bold;	
}
.zoomLens{
	border:10px solid red;
	width:300px;
}
#conditionsconsent{
	position:absolute;
	top:260px;
	width:300px;
	height:150px;
	background-color:white;
	border:2px solid black;
	border-radius:7px;
	display:none;
	padding:15px;
	z-index:10;
}
#accept{
	position:relative;
	right:-10px;
	top:5px;
	width:20px;
	height:20px;
}

button.stripe-button-el{
	display:block;
	margin:auto;
}
.purchase{
	margin-bottom:20px;
	margin-left:10px;

}
#fillout{
	background-color: white;
	color:black;
	padding:10px;
	border:2px solid red;
	border-radius:7px;
}
