// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//------------------------------application.html.erb-----------------------------------//

//*{
//	border: 1px solid red;
//}


.cc-link{
	margin-left:10vw ;
}
/*.cc-message{
	background-color:red;
}*/
body{
	margin-top:50px;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
}
.alert-posabs{
	text-align:center;
	position:absolute;
	top:50px;
	z-index:1000;
	width:100vw;
	margin:0;	
}

footer{
	height:50px;
	background-color:#1A8A7D;
	margin:0px;
}

#cright{
	text-align:center;
	padding-top:5px;
	margin:0;
	margin-top:10px;
	font-size:1em;
	font-weight:600;
	float:left;
	width:180px;
	text-shadow: 0px 0px 6px white;
}

#imprint{
	text-align:center;
	padding-top:5px;
	margin:0;
	margin-top:10px;
	font-size:1em;
	font-weight:600;
	float:right;
	width:100px;
	text-shadow: 0px 0px 6px white;
}

//---------------------------------landing_page---------------------------------------//

#landhead{
	color:red;
	text-align:center;
	margin-top:70px;
}
#landhead{
	color:white;
	font-weight:900;
	font-style: italic;
	font-family:serif;
	text-align:center;
	margin-top:50px;
	margin-bottom:0;
	padding:.5em;
	text-shadow:  -5px -5px 20px red;
	background-color:#DB7B3B;
	border-top:5px ridge lightblue;
	
}
#carouselcont{
	border: 2px solid black;
}
#carouselneighbor{
	border:2px solid green;
	background:green;
}
#slide{
	display:block;
	margin:auto;

	
}
.carousel.slide{
	background:linear-gradient(#DB7B3B,#1A8A7D);
}
.carousel-control{

}


#prodpricel{
	font-size:1.7em;
	font-weight:700;
	padding:20px;
	color:red;
	text-shadow:0px 0px 17px white;
}

----------------------landing page new version---

#magic {
	padding-top:200px;	
}


#pic1{
	display:none;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:auto;
	opacity:1;
	z-index:1;
	-webkit-animation-name: opaki1; 
    -webkit-animation-delay:0; 
    -webkit-animation-duration:15s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: paused;
    -webkit-animation-iteration-count:infinite;
    animation-name: opaki1;
    animation-delay:0;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

@-webkit-keyframes opaki1 {
    0%   {opacity:1;}
    33%  {opacity:0;}
    66%  {opacity:0;}
    100% {opacity:1;}
}
@keyframes opaki1 {
    0%   {opacity:1;}
    33%  {opacity:0;}
    66%  {opacity:0;}
    100% {opacity:1;}
}




#pic2{
	display:none;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:auto;
	opacity:1;
	z-index:1;
	-webkit-animation-name: opaki1; 
    -webkit-animation-delay:0; 
    -webkit-animation-duration:15s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: paused;
    -webkit-animation-iteration-count:infinite;
    animation-name: opaki2;
    animation-delay:0;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}
@-webkit-keyframes opaki2 {
    0%   {opacity:0;}
    33%  {opacity:1;}
    66%  {opacity:0;}
    100% {opacity:0;}
}
@keyframes opaki2 {
    0%   {opacity:0;}
    33%  {opacity:1;}
    66%  {opacity:0;}
    100% {opacity:0;}
}

#schnecke{
	background-color:black;
	color:gold;
	z-index:100;
}


#pic3{

	display:none;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:auto;
	opacity:1;
	z-index:1;
	-webkit-animation-name: opaki3; 
    -webkit-animation-delay:0; 
    -webkit-animation-duration:15s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: paused;
    animation-name: opaki3;
    animation-play-state: paused;
    animation-delay:0;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

@-webkit-keyframes opaki3 {
    0%   {opacity:0;}
    33%  {opacity:0;}
    66%  {opacity:1;} 
    100% {opacity:0;}
}
@keyframes opaki3 {
    0%   {opacity:0;}
    33%  {opacity:0;}
    66%  {opacity:1;} 
    100% {opacity:0;}
}

#schnecke{
	display:block;
	position:absolute;
	top:50px;
	left:5%;
	font-size:1em;
	font-weight:900;
	z-index:19;
	background-color:darkgray;
	padding:6px;
	line-height:120%;
	border-radius:5px;
}
#schnecke1{
	display:block;
	position:absolute;
	top:50px;
	right:15vw;
	font-size:1em;
	font-weight:900;
	z-index:19;
	background-color:black;
	text-shadow:2px 2px 2px white;
	padding:6px;
	line-height:120%;
}

#linktag{
	text-decoration:none;
}


// --------------repairs------------------------
#repairdiv{
	height:600px;
	background-image:url("https://extremewheels.com/wp-content/uploads/2016/08/Model-Changing-Flat-Tire-1080x675.jpg");
	background-size:cover;
	overflow:hidden;


}
#tirefix{
	background-color:orange;
	color:darkred;
	font-weight:700;
	padding:.3em;
	text-align:center;
	position:relative;
	width:120%;
	top:250px;
	left:-10vw;
	
	transform:rotateZ(-10deg);
}
#test{
	width:0vw;
	height:vw;
	//background-color:red;
	background-image:image-url('hammer.png');
	background-size:cover;
	position:absolute;
	top:0vh;
	left:50vw;
	z-index:1;
	overflow:hidden;
	transform:rotateZ(30deg);
}
//-----------------------------------navbar-----------------------------------------//
.navbar-collapse.collapse{
	margin-left:-15px;
	margin-right:-15px;
	border-bottom:2px ridge lightblue;
}
.navbar-toggle .icon-bar {
    border:1px solid mistyrose;
}

#login, #logout{
	margin-right:25px;
}
.nav .glyphicon{
	font-size:1.2em;		
}
.nav li{
	margin-left:10px;	
}
.navbar-inverse .navbar-nav>li>a{
	color:lightblue;
	text-decoration:none;
}
.nav li> a:hover{
	text-decoration:underline;
	font-weight:590;
	transition:1s;	
}
.navbar-inverse .navbar-toggle{
	margin-right:25px;
	border:1px solid orange;	
}
.project.name.navbar-brand {
	height:32px;
	padding:6px;	
	margin-top:9px;
	margin-left:25px;
	background-color:lightyellow;
	border:1px solid orange;
	border-radius:4px;
}
.navbar-brand a{
	height:12px;
	color:darkred;
	padding:0px;
}

//---------------------------------search icon in nav--------------------------------//
.glyphicon-search{
	top:3px;
}

//---------------------------------search modal---------------------------------------//

#q{ 
	background-color:lightblue;
	margin-left:20px;
	border-radius:4px;
}
#searchbtnmod{
	margin-right:20px;
	margin-left:-30px;
}
.modal-content{
	background-color:white;
	border:1px solid black;
}

//--------------------------------contact page --------------------------------------//
#contactpage{
	background-image:url("https://images.pexels.com/photos/248559/pexels-photo-248559.jpeg?h=350&auto=compress&cs=tinysrgb");
	margin-top:50px;
	background-size:cover;
}
#contactrow{
	margin-left:0;
	margin-right:0;
}
#frame1, #frame2, #frame3{
	margin:10px;
	margin-top:20px;
	overflow:hidden;
	border-radius:8px;		
}

#frame3 h5,#frame3 p{
	margin:3px;
	margin-left:20px;	
}
#frame3{
	background-color:linen;
}	
#contactus{
	padding-top:30px;
	margin-left:0px;
	text-shadow:0px 0px 7px red;
	color:linen;
	text-align:center;
}

#textfieldname, #textfieldmail, #textfieldmessage,#sendmail{
	background-color:linen;
	width:100%;
}
#sendmail{
	width:70px;
	margin-top:20px;
	margin-bottom:20px;
	float:left;
}
#frame2 iframe{
	border-radius:8px;
	display:block;
	margin:auto;
}


//-------------------------------thank_you page--------------------------------------//

#gohome{
	margin:20px;
	margin-left:50px;
}
#messagereceived, #gohome{
	background-color:linen;
}

//--------------------------------admin-----------------------------------------------//

#nummerfeld{
	padding-left:50px;
}
#rahmen{
	width:200px;
	height:auto;
}
//------------------------------edit(admin)------------------------------------------//
#idfield, #idsubmit{
	
	float:left;
	margin-left:15px;
}
#idfield{
	width:80px;
}
#idsubmit{
	width:50px;
}
#adminframe{
	margin:25px;
	background-color:mistyrose;	
}
#adminframe label{
	margin-left:15px;
}
#adminframe h5, #adminframe p{
	margin:15px;
}
#adminframe .form-inline{
	margin-bottom:20px;
	width:200px;
	height:34px;
}
#rahmen{
	margin:15px;
}

//-----------------------------about-----------------------------//
#buttoncont{
	background-color:lightblue;
	height:180px;
}

#Stuff{
	position:relative;
	top:20px;
	display:block;
	margin:auto;
	padding-top:50px;
	padding-bottom:50px;
	background-color:red;
	border:10px solid orange;
	border-radius:50%;
	font-weight:bold;
	font-size:1.5em;
	-webkit-animation-name: stuffan; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration:1s; /* Safari 4.0 - 8.0 */
  
    -webkit-animation-iteration-count:infinite; /* Safari 4.0 - 8.0 */
	animation-name: stuffan;
    animation-duration: 1s;
    
    animation-iteration-count: infinite;
}
@-webkit-keyframes stuffan {
	0%   {padding-top:50px;padding-bottom:50px;}
    50% {padding-top:20px;padding-bottom:20px;top:50px}
    100% {padding-top:50px;padding-bottom:50px;top:20px;}
}
@keyframes stuffan {
    0%   {padding-top:50px;padding-bottom:50px;padding-left:5px; padding-right:5px;}
    50% {padding-top:20px;padding-bottom:20px;top:50px;padding-left:30px;padding-right:30px;}
    100% {padding-top:50px;padding-bottom:50px;top:20px;padding-left:5px; padding-right:5px;}
}
#randomwrapper{

}
#randomwrapper h4{
	text-align:center;
	position:relative;
	top:0;
	color:black;
	font-weight:600;
	font-size:2vw;
	z-index:1000;
}
#randomwrapper h6{
	text-align:center;

}
#random{ 
	color:white;
	text-shadow: 1px 1px 1px black;
	background-color:blue;
	//padding:10px;
	transform:rotateZ(70deg);
	position:relative;
	left:20px;
    width:60px;
    margin:0;
    border:.1px solid black;
    z-index:1;
}
#canvas-wrapper{
	width:99vw;
	height:33vw;
	display:block;
	margin:auto;
	margin-bottom:1vw;
	overflow:hidden;
	border:2px solid black;
	border-radius:7px;
}
#myCanvas{
   width:100%;
   style-width:2000;
   // height:50vw;
   
    border:1px solid #d3d3d3;
    z-index:1;
   // background-color:linen;
//background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
#socket button.btn.btn-small{
	margin:4px;
}
#btncont{
	display:block;
	width:320px;
	margin:auto;
}
#socket{
	
}




#red, #green, #blue, #opac {
	margin: 10px;
	display: inline-block;
	height: 200px;
}

#colorpicker {
	height: 240px;
	width: 320px;
	margin: 0 auto;
	padding: 10px;
	border: 1px solid #BFBFBF;
}

#result {
	margin: 20px ;
	height: 130px;
	width: 80px;
	display: inline-block;
	vertical-align: top;
	color: rgb(127, 127, 127);
	background: rgb(127, 127, 127);
	border: 1px solid #fff;
	box-shadow: 0 0 10px;
}

#red .noUi-connect {
	background: #c0392b;
}

#green .noUi-connect {
	background: #27ae60;
}

#blue .noUi-connect {
	background: #2980b9;
}
#opac .noUi-connect {
	background: #ffffff;
}
#red .noUi-handle{
	background-color:red;
}
#green .noUi-handle{
	background-color:green;
}
#blue .noUi-handle{
	background-color:blue;
}
#opac .noUi-handle{
	background-color:gray;
}
.noUi-handle{
	border-radius:20%;
}
