

<% if signed_in? %>
  
  <%= form_for([@product, @product.comments.build]) do |f| %>
    <p id="newcommentp">
    
      <%= f.text_area :body, class:"input-form form-control",placeholder:"Add Your Comment.." %>
    </p>
    
    <div class="rating"></div> 
    <p>
      <%= f.submit "Submit",class:"btn btn-default", id:"newcommentbtn" %>
    </p>

  <% end %>
<% end %>