

<h1 id="ourprod">Our Bikes</h1>
<hr>


<div class="container-fluid">
  <div class="row" id="prodindexrow">

    <%# @products.each do |product| %>
    <%#cache (cache_key_for_products) do %>
      <%= render @products %>
    <%# end %>
    <%# end %>
  </div>
</div>


